<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:700|Source+Serif+Pro:400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://kit.fontawesome.com/52715119dc.js" crossorigin="anonymous"></script>
        <title>
            CampFinder
        </title>
    </head>
   <body>
   <!----// Navbar------>

   <!--<div class="container">-->
   <nav class ="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="/" style=" font-family: 'Source Serif Pro', serif;">CampFinder</a>
           </div>
           <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav ml-auto">
                  <% if(!currentUser){%>
                   <li class="mr-3"><a href="/register"><i class="fas fa-clipboard-check"></i> Sign Up </a></li>
                   <li><a href="/login"><i class="fas fa-power-off"></i> Login </a></li>
                   <%} else {%>
                          <li class="mr-3"><a href="#"><i class="fas fa-user"></i> Signed In As <%= currentUser.username %></a></li>
                   <li><a href="/logout"> <i class="fas fa-sign-out-alt"></i> Logout </a></li>
                   <%}%>
               </ul>
           </div>
       </div>
       </div>
   </nav>

   <div class=" container">
      <% if(error && error.length > 0){ %>
   <div class="alert alert-danger mt-2" role="alert" >
        <%= error %>
   </div>
      <% }%>
   </div>
   <div class=" container">
       <% if(error && success.length > 0){ %>
       <div class="alert alert-success mt-2" role="alert" >
           <%= success %>
       </div>
       <% } %>
   </div>
   <!--</div>-->





